.playerCard{
    color:white;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top:1rem;
    border-top: 1px solid white;
    padding-bottom: 5px;
}

.playerItem:hover{
    color:white !important;
}