.bg{
    background-image:url('../../images/background/ballBackground.jpeg');
    background-attachment: fixed;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.container{
    min-height: 85vh !important;
}