.cardHeader{border-radius: 25px !important;}

.card{border-radius: 25px !important;}

.buttonCurve{border-radius: 25px !important;}

.paddingTop{
    padding-top: 15px;
}

.imageStyle{
    height: auto; 
    width: auto;
    min-width: 150px; 
    min-height: 150px; 
    max-width: 200px; 
    max-height: 200px;
}

.textSize{
    font-size:135%!important;
}