.bgUser{
    background-image:url('../../images/background/userBackground.jpg');
    background-attachment: fixed;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}