.border{
    border: 2px solid #424242;
}

.bottomLine{
    border-bottom: 1px solid #424242;
    margin-left: 5px;
}

.imgScaling{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    width: auto;
    min-width: 50px; 
    min-height: 50px; 
    max-width: 75px; 
    max-height: 75px;
}

.maxHeight{
    height: 135%;
}

.hover :hover{
    cursor: pointer;
}