.title{
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.text{
    margin-bottom:2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.paddingTop{
    padding-top: 15px;
}
